@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 90vh;
    background-size: cover;
}


.card{
    text-align: center;
    color: white;
    font-family: "Roboto";
}

.card1{
    color:white;
    font-family: Roboto;
    padding: 10px;
    

}
.button{
    margin:30px;
    text-align: center;
    height: 40px;
    width:80px;
    background-color: orange;
    color: white;

}
.footer{
    font-size: small;
    text-align: center;
    font-family: Roboto;
    color: white;
    text-decoration: underline;
}